<div class="jumbotron mt-4">
    <h1 class="display-4">Pet Control Software</h1>
    <hr class="my-4">
    <p>Es un sistema que provee facilidad y robustez  a la hora de desempeñar su trabajo, orientado a personas que busquen un sistema amigable y entendible
    
    Pet Control Software ofrece funcionalidades amigables al usuario y de facil comprensión.

    Trabaje desde cualquier dispositivoCon PetGuard puede tener su información al alcance en cualquier momento y en cualquier lugar.
    Podrá realizar consultas, realizar ingreso de datos y edición de información transladandose al lugar que necesite sin la necesidad de radicar un punto fijo de control.

    SeguridadSeguridad e integridad de sus datos
    El sistema de seguridad de PetGuard ofrece una gran optimización de la integridad de su información, resguardándola, y creando copias de seguridad programables por defecto y tambien por el usuario.</p>
   
</div>
